
/* Home Page Mobile */


#hbody {
    background: url(../img/skybg.svg) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    }
    
#hground {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    left: 0px;
    }
    
#hlogo {
    width: 90%;
    position: absolute;
    top: 10%;
    left: 5%;
}

#hplay{
    height: 10%;
    position: absolute;
    top: 45%;
    left: 30%;
}
#hlogin{
     height: 10%;
    position: absolute;
    top: 57%;
    left: 30%;
}

#hrank{
     height: 10%;
    position: absolute;
    top: 69%;
    left: 30%;
}

#hquest{
    width: 50px;
    position: absolute;
    top: 5px;
    left: 5px;
}

#hset{
    width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
}
#htiger{
    width: 150px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

#hrhino{
    width: 75px;
    position: fixed;
    bottom: 90px;
    left: 5px;
}

#happle {
    width: 40px;
    position: fixed;
    bottom: 80px;
    left: 70px;
}
    



/* Home Page Desktop */

@media only screen and (min-width: 700px){
  
#hbody {
    background: url(../img/bigsky.svg) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    }
    
#ground {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    left: 0px;
    height: 15%;
    }
    
#hlogo {
    height: 30%;
    position: absolute;
    top: 10%;
    left: 5%;
}

#hplay{
   height: 10%;
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
#hlogin{
    height: 10%;
    position: absolute;
    top: 57%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#hrank{
    height: 10%;
    position: absolute;
    top: 69%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#hquest{
    width: 7%;
    position: absolute;
    top: 1%;
    left: 1%;
}

#hset{
    width: 7%;
    position: absolute;
    top: 1%;
    right: 1%;
}
#htiger{
    width: 20%;
    position: fixed;
    bottom: 10px;
    right: 2%;
}

#hrhino{
    width: 10%;
    position: fixed;
    bottom: 90px;
    left: 3%;
}

#happle {
    width: 5%;
    position: fixed;
    bottom: 80px;
    left: 12%;
}   
}
    
    
    









/* Welcome Page Mobile */


#lbody {
     background: url(../img/bigsky.svg) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    }
#lground {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    left: 0px;
    height: 20%
    }


#lwelcome {
     width: 70%;
    position: absolute;
    top: 5%;
    left: 15%;
}

#lx{
     width: 50px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#llogin{
     height: 10%;
    position: absolute;
    top: 35%;
    left: 30%;
}
#lsignup{
    height: 10%;
    position: absolute;
    top: 47%;
    left: 30%;
}

#lguest{
    height: 10%;
    position: absolute;
    top: 59%;
    left: 30%;
}

#lcancel{
    height: 10%;
    position: absolute;
    top: 71%;
    left: 30%;
}



/* Welcome Page Desktop */
@media only screen and (min-width: 700px){
#lbody {
    background: url(../img/bigsky.svg) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    }
    
#lground {
    position: fixed;
    bottom: -5px;
    width: 100vw;
    left: 0;
    height: 12%;
    }


#lwelcome {
    height: 30%;
    position: absolute;
    top: 5%;
    left: 15%;
}

#lx{
     width: 7%;
    position: absolute;
    top: 1%;
    right: 1%;
}

#llogin{
    height: 10%;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
#lsignup{
     height: 10%;
    position: absolute;
    top: 47%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#lguest{
     height: 10%;
    position: absolute;
    top: 59%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

#lcancel{
     height: 10%;
    position: absolute;
    top: 71%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

}










/* Sign Up Mobile */

#sbody {
    background: url(../img/blurskybg.svg) no-repeat center center fixed; 
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    }

#sground {
    position: fixed;
    bottom: 0px;
    width: 100vw;
    height: 20%;
    left: 0px;
    filter: blur(2px);
    }

#sback{
    width: 125px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#sok{
    width: 35%;
    position: absolute;
    top: 75%;;
    left: 10%;
}
#scancel {
    width: 35%;
    position: absolute;
    top: 75%;;
    right: 10%;
}

.input {
    width: 600px;
    height: 75px;
    position: absolute;
    font-size: 30pt;
    font-family: "Montserrat-Medium";
    text-align: center;
    
    background-image: url(../img/cancel.svg); 
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    
    
}

#SUN {
    top: 250px;
    left: 100px;
    position: absolute;
}

#SPW {
    top: 450px;
    left: 100px;
    position: absolute;
}

#SEM{
    top: 650px;
    left: 100px;
    position: absolute;
}




/* Login Mobile */

#lback{
    width: 250px;
    position: absolute;
    top: 20px;
    right:20px;
}

#lbackground {
    height: 100vh;
}

#lok{
    width: 300px;
    position: absolute;
    top: 950px;
    right: 50px;
}

.label {
    font-family: "GROBOLD";
    font-size: 34pt;
    position: absolute;
    left: 200px;
    margin: auto;
    color: green;
}

#LUN {
    top: 350px;
    left: 100px;
    position: absolute;
}

#LPW {
    top: 550px;
    left: 100px;
    position: absolute;
}


















<<<<<<< HEAD
body {
    background: url(/img/bg-2.svg) no-repeat center center fixed; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    
}


/* Level 1 Mobile */
=======


>>>>>>> origin/master




.falling{
    display: block;
    height: 80px;
    position: fixed;
    top: 0;
    left: 90px;
}


#bottoanimalsmarea {
    position: fixed;
    bottom: 0;
    width: 100vw;
    max-height: 25%;
}

#animalheads {
    position: relative;
    height: 100px;
    bottom: 20px;
}

<<<<<<< HEAD
#topbar {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 2;
=======
#sok{
    width: 300px;
    position: absolute;
    top: 950px;
    right: 50px;
}
#scancel {
    width: 300px;
    position: absolute;
    top: 950px;
    left: 50px; 
>>>>>>> origin/master
}

#lefttopwood{
    position: fixed;
    left: 0;
    height: 13.2vh;
    z-index: 2;
}

#middletopwood{
/*
    position: fixed;
    background: url(/img/middle-topwood.svg) repeat-x left top; 
    background-size: 0.5em, 0.5em;
*/
    
    position: fixed;
    height: 10vh;
    width: 95vw;
    left: 5px;
    right: 2px;
    top: 0;
    
}

#righttopwood{
    position: fixed;
    right: 0;
    height: 22vh;
}

#gameplaysettings{
    position: fixed;
    top: 2vh;
    right: 3vw;
    z-index: 2;
}


<<<<<<< HEAD
#score {
=======

    
    
    
  







/* Level 1 Mobile */

.background1 {
    width: 40vw;
    height: auto;
>>>>>>> origin/master
    position: fixed;
    left: 0;
    z-index: 3;
}



@media (max-width: 700px) {
    body {
        background: url(/img/bg-3.svg) no-repeat center center fixed; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }

}


