body {
    background-image: url(/img/bg-1.svg);
}

.wrapper {
    height: 480px;
    display: grid;
    grid-template-columns: 20em auto 200px;
    grid-template-rows: auto;
    grid-gap: 1em;
    grid-template-areas: 'header header header'
                            'left article right'
                            'footer footer footer'
}
