
body {
    background: url(/img/bg-2.svg) no-repeat center center fixed; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    
}

@media (max-width: 700px) {
    body {
        background: url(/img/bg-3.svg) no-repeat center center fixed; 
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: contain;
    }
}




#container {
/*    background: url(/img/bg-2.svg) no-repeat center center fixed; */
    width: 100vw;
    height: 100vh;
}

#falling, .falling{
    display: block;
    height: 90px;
    position: fixed;
    top: 0;
    left: 100px;
}



